.flex-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content:space-around;
  border:1px solid black;
}
 
.flex-item {
  /* flex-basis:500px; */
  /* flex-shrink: 1; */
  border:1px solid black;
}
.flex-item:last-child {
  /* flex-shrink: 2; */
}