/*body{
	font-family:"Arial","Microsoft YaHei","黑体","宋体","sans-serif";
	-ms-user-select:none;
}
body a{
cursor:pointer;text-decoration:none;
}*/
.aboluo-w-700{
	/* width:1200px; */
	width:1200px;
	height:650px;
}
.aboluo-leftdiv{
	position:relative;
	float:left;
	width:80%;
	height:100%;
	/*border:2px solid #6cd3fb;*/
}
.aboluo-rightdiv{
	width:18%;
	height:100%;
	background: #F9FAFC;
	/*border:2px solid #6cd3fb;*/
}
.aboluo-tools{
	/* width:1200px; */
	width:1200px;
	position: relative;
	line-height: 10px;
	height: 70px;
	margin: 0 auto;
	/*border-bottom:#d0f7fd solid 1px;*/
}
.aboluo-rilidiv{
	position:relative;
	width:100%;
	height:100%;
	/*padding-left:2%;
	padding-right:2%;*/
	border: 1px solid #EFEFEF;
}

.aboluo-calendar-select-year{
	width:25%;float:left;text-align: center;
}
.aboluo-calendar-select-year select {
	width: 120px;height: 30px;margin: 30px 0 10px 0;
}
.aboluo-calendar-month{
	width:22.5%;float:left;margin-left:20px;line-height: 10px;
}
.aboluo-calendar-month a{
	font-size:20px;text-align:center;color:#008080;text-decoration:none;vertical-align: middle;
}
.aboluo-calendar-month select{
	width: 120px;height: 30px;margin: 30px 0 10px 0;
}
.aboluo-tools .aboluo-toToday{
	width: 120px;height: 30px;border:1px solid #DFE5E7;color:#b7b7b7;background:#ffffff;margin: 30px 0 10px 0;
}
.aboluo-tools .aboluo-toToday:hover{
	border:1px solid #1a8cff;
}
.aboluo-rilitable{
	width:100%;text-align:center;hegiht:100%;
}
.aboluo-rilitable .aboluo-rilithead{
	
}
.aboluo-rilidiv .aboluo-rilitable tr{
	width:100%;
}
.aboluo-rilidiv .aboluo-rilitable tr th{
	width:14.2%;height: 59px;line-height: 59px;font-size:16px;
}
.aboluo-rilidiv .aboluo-rilitable tr td{
	width:14.2%;font-size:20px;color:#000000;border-top: 1px solid #EFEFEF;border-right: 1px solid #EFEFEF;
}
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-currToday{
	color:#000000;
}
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-tdcurrToday .taday{
	position: absolute;
    top: 5px;
    right: 10px;
    background: #EF9F67;
    font-size: 14px;
	height: 26px;
	padding: 0 10px;
	line-height: 26px;
	color: #fff;
	border-radius: 13px;
}
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-tdcurrToday{
	position: relative;
}
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-tdhoilday{
	background:#F4FCF6;position: relative;border-left: 3px solid #73DA8E;
}
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-hoilday{
	
}
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-tdhoilday .hoilday{
	position: absolute;
    top: 5px;
    left: 5px;
    /*background: #EF9F67;*/
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color: #A9E9A6;
}

.mego-hoilday {
	position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
	color: #A9E9A6;
	cursor: pointer;
}

.mego-relative {
	position: relative;
}

.aboluo-rilidiv .aboluo-rilitable tr td a{
	font-size:24px;color:#000000;display:block;margin:auto;position:relative;
}
.aboluo-rilidiv .aboluo-rilitable .aboluo-td-a-ban{
	font-size:13px;position:absolute;text-align:left;line-height:14px;text-indent:1px;width:15px;display:block;background:#969799;height:15px;color:#fff;overflow:hidden;top:0px;left:0px;
}
.aboluo-rilidiv .aboluo-rilitable .aboluo-td-a-xiu{
	font-size:13px;position:absolute;text-align:left;line-height:14px;text-indent:1px;width:15px;display:block;background:#f43;height:15px;color:#fff;overflow:hidden;top:0px;left:0px;
}
.aboluo-rilidiv .aboluo-rilitable tr td a:hover{
	border-left:3px solid #73DA8E;cursor:pointer;background-color: #f4fcf6;
}
.aboluo-rilidiv .aboluo-rilitable tr td .aboluo-aclick{
	border-left:3px solid #73DA8E;background-color: #f4fcf6;
}
.aboluo-rilidiv .aboluo-rilitable .aboluo-rilitbody .aboluo-pervMonthDays{
	color:#BFBFC5;
	background: #FCFCFE;
}
.aboluo-rilidiv .aboluo-rilitable .aboluo-rilitbody .aboluo-nextMonthDays{
	color:#BFBFC5;
	background: #FCFCFE;
}
.aboluo-rightdiv p{ 
	color:#DDE1E6;margin:0 auto;
}
.aboluo-rightdiv .aboluo-xssj span{ 
	margin-left:5px;
}
.aboluo-rightdiv .aboluo-xssj p:nth-child(1){
	margin-top: 20px;
}
.aboluo-rightdiv .aboluo-xssj p{
	margin-left: 10%;
}
.aboluo-rightdiv .aboluo-xssj .seleDay{
	cursor: pointer;
	background: #73DA8E;color: #fff;display: inline-block;width: 70%;margin:5px 10% 5px 10%;padding: 5px 10px;font-size: 16px;border-radius: 3px;
}
.aboluo-rightdiv .aboluo-xssj .seleDay .delet{
	display: inline-block;width: 11px;height: 11px;background: url(../images/control.png) 0px 11px;float: right;margin-top: 3px;cursor: pointer;opacity: .7;
}
.aboluo-rightdiv .aboluo-xssj .seleDay:hover .delet{
	opacity: 1;
}
.aboluo-rightdiv .aboluo-currday{
	width:60%;height:20%;margin:auto;text-align:center;background:#FFBB00;font-size:50px;
}
.aboluo-rightdiv .aboluo-ssjjr{
	text-align: center;
}
.aboluo-rightdiv .aboluo-ssjjr span{
	margin-bottom: 15px;
	display: inline-block;
}
.aboluo-rightdiv .aboluo-ssjjr select{
	width: 70%;margin:5px 10% 5px 10%;height: 30px;
}
.aboluo-rightdiv .aboluo-ssjjr input{
	width: 100px;
    height: 33px;
    border: 1px solid #3590e6;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-color: #3ba0ff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
}
.aboluo-month-a-perv{
	width: 10px;height: 18px;display: inline-block;background: url(../images/ih-prev.png);margin-right: 10px;
}
.aboluo-month-a-next{
	width: 10px;height: 18px;display: inline-block;background: url(../images/ih-next.png);margin-left: 10px;
}
