
.border-l-h3 {
  line-height: 30px;
  height: 30px;
  border-left: 3px solid #3BA0FF;
  padding-left: 22px;
  font-size: 18px;
  margin: 6px 0;
  color:#1C2B36;
}

// 表格
.table-box {
  padding: 15px;
  width: 100%;
  .modtable{
    width:100%;
    border-collapse: collapse;
    .hide{display: none;};
    .tit {
      cursor: pointer;
      &:hover{
        color:#3BA0FF;
      }
    }
    td,th{
      background: #fff;
      font-size: 14px;
      vertical-align: middle;
      text-align: left;
      height: 40px;
      &:first-child{
        text-align: center;
      }
      &.success{
        color: #0FD38A;
      }
    }
    td{
      border-bottom: 1px solid #f1f1f1;
      .tit {
        font-size: 14px;
        color: #576578;
      }
      .b_msg {
        color: #a3b2c6;
        font-size: 12px;
        span:not(:last-child) {
          margin-right: 35px;
        }
        .icon{
          display: inline-block;
          width:16px;
          height: 11px;
          background-repeat: no-repeat;
          background-position: center center;
          &.eyes{
            background-image: url(/static/images/eye.png)
          }
          &.yes {
            background-image: url(/static/images/yes.png)
          }
          &.no {
            background-image: url(/static/images/no.png)
          }
        }
      }
    }
    th{
      background-color: #f6f8f8;border-bottom: 2px solid #e2e5e5;color: #a3b2c6;font-weight: 500;
    };
    tr:hover {
      td {
        background-color: #f6f7f9;
      }
    };
    .operate {
      cursor: pointer;
    }
    
  }
}
.tableLoading{position: relative !important;}

.modtable .edit {
  &:not(:last-child) {
    padding-right: 15px;
  };
  &:hover{
    color:#3BA0FF;
  }
}


/**
*    公告列表页
*/

/**
*    公告新增页
*/
.noticeAdd {
  background-color:#fff;
  padding: 15px 0;
}
.check-wrap {
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
  
}
.notice-wrap {
  margin: 0 22px;
  padding-top: 10px;
  border-top: 1px solid #DFE5E7;
  .title {
    line-height: 45px;
    height: 45px;

  }
}


.upload-wrap {
  margin: 0 22px;
  .title {
    line-height: 45px;
    height: 45px;
  }
  .upload-box {
    width: 250px;
  }
}

/**
*    详情页
*/
.page-detail {
  padding:20px;
  background-color:#fff;
  h3.title{
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    

  }
  .setTop-tip{
    display: inline-block;
    position: relative;
    width: 32px;
    height: 18px;
    margin-right: 5px;
    vertical-align: 1px;
    text-align: center;
    line-height: 18px;
    background-color:#FF5569;
    border: 1px solid #FF2C45;
    font-weight: normal;
    border-radius: 2px;
    font-size: 12px;
    color:#fff;
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 6px;
      right: -2px;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      background-color: #FF2C45;
    }
  }
  .label-tip{
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-left: 15px;
    line-height: 38px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(-180deg, #D0D9E5 0%, #A3B2C6 100%);
  }

  .view-msg{
    font-size: 12px;
    color:#A3B2C6;
    line-height: 25px;
    span:not(:last-child) {
      margin-right: 35px;
    }
  }
  .state-detail{
    font-size: 12px;
    color:#A3B2C6;
    line-height: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DFE5E7;
    span{
      &.state-target {
        &:nth-child(1) {
          padding-right: 15px;
        }
        &:nth-child(2) {
          padding-left: 15px;
          border-left: 1px solid #A3B2C6;
        }
      }
      &.state-publish {
        margin-left: 20px;
        display: inline-block;
        height: 18px;
        line-height: 18px;
        width: 60px;
        box-sizing: border-box;
        padding-left: 10px;
        text-align: center;
        color:#fff;
        &.edit{
          background: url(/static/images/editing.png) center center no-repeat;
        }
        &.published{
          
          background: url(/static/images/published.png) center center no-repeat;
        }
      }
      
    }
  }
  .detail-content {
    padding: 35px 0;
  }
  .file-box {
    padding: 15px 0;
    .file-list {
      li {
        font-size: 12px;
        color:#A3B2C6;
        background: url(/static/images/file.png) left center no-repeat;
        padding-left:30px;
        height: 30px;
        line-height: 30px;
        vertical-align: -2px;
        padding-top: 2px;
        a{
          display: inline-block;
          margin-left: 25px;
          width: 14px;
          height: 14px;
          background: url(/static/images/down.png) no-repeat;
          vertical-align: -2px;
          &:hover{
            background-image: url(/static/images/down_active.png)
          }
        }
      }
    }
  }
  &.noticeDetail {

  }
  &.qaDetail {
    .q-tip {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background: url(/static/images/Q.png) left center no-repeat;
      vertical-align: -5px;
    }
    .detail-content{
      padding-top:10px;
    }
    .a-tip {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background: url(/static/images/A.png) left center no-repeat;
      vertical-align: -5px;
    }
    .view-msg{
      .view{
        padding-left: 20px;
        background: url('/static/images/eye.png') left 1px no-repeat;
      }
      .good{
        padding-left: 20px;
        background: url('/static/images/yes.png') left 1px no-repeat;
      }
      .bad{
        padding-left: 20px;
        background: url('/static/images/no.png') left 1px no-repeat;
      }

    }
  }

  
}


