
/*reset*/
body{color:#576578; font-family:"Arial","Microsoft YaHei","黑体","宋体","sans-serif"; font-size: 14px; height:100%;}
body,html {height: 100%;/*background: #ffffff;*/ background-color: #f2f4f8;}
body,html,form,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,table,fieldset,div,tr,td,img{margin:0; padding:0;}
img{border:0; /*vertical-align:middle;*/}
em,i{font-style:normal;}
ol,ul,li{ list-style:none;}
h1,h2,h3,h4,h5{color:#576578;}
label{vertical-align:middle}
a { color:#576578; text-decoration:none;outline:0;}
a:link,a:visited{ color:#576578;text-decoration:none; outline:0;}
a:hover,a:active{ color:#576578;text-decoration:none; outline:0;}