.tr{
  display: flex;
  flex-flow: row nowrap;
}
.td{
  flex:1 1 auto;
}


.result{
  margin:100px 25px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-collapse: collapse;
}
.result td{
  border-top:1px solid #999;
  border-left: 1px solid #999;
}
.result td:last-child{
  background-color: green;
}
